:root {
    --primary-bg-color: #212121;
    --text-color: #fff;
    --accent-color: #ffffff;
    --error-border-color: #ff6868;
    --success-border-color: #93ff68;
    --shadow-color: rgb(24, 24, 24);
    --gap-small: 15px;
    --gap-medium: 30px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    max-width: 520px;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    max-width: 400px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: var(--gap-medium) 0;
    text-align: center;
}

input {
    padding: 10px;
    font: inherit;
}

input[type='text'],
input[type='password'] {
    outline: none;
    color: var(--text-color);
    background-color: transparent;
    border-width: 0 0 1px 0;
}

input[type='submit'],
.link-button {
    font: inherit;
    padding: var(--gap-small);
    outline: none;
    margin-top: var(--gap-small);
    color: #000000;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    cursor: pointer;
}

label {
    user-select: none;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
}

select {
    padding: 10px;
    font: inherit;
}

.users_list-checkbox {
    margin-right: 10px;
}

.error-messages,
.messages {
    margin-top: var(--gap-medium);
    padding: var(--gap-small);
    border-radius: 5px;
}

.error-messages {
    border: 1px solid var(--error-border-color);
}

.error-message {
    color: var(--error-border-color);
}

.messages {
    border: 1px solid var(--success-border-color);
}

.message {
    color: var(--success-border-color);
}

.menu {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.admin-buttons {
    display: flex;
    gap: var(--gap-small);
    width: 100%;
    margin-top: var(--gap-medium);
}

.admin-button {
    width: 100%;
    text-align: center;
}

.users_list {
    padding: var(--gap-small);
    background-color: #0f0f0f;
    border-radius: 5px;
    cursor: pointer;
}

.employee_button {
    width: 150px;
    height: 150px;
    font: inherit;
}

.diagram {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: var(--gap-medium);
}

.diagram-column {
    min-height: 40px;
    padding: 10px;
    background-color: #636363;
}